<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="new-body">
        <%- include("../partials/header.ejs") %>
            <main>
                <div class="new-div">
                    <form action="/animals" method="POST">
                        <fieldset>
                            <legend>Add an Animal</legend>
                            <label>
                                Species:<input type="text" name="species" placeholder="enter animal species" />
                            </label>
                            <label>
                                Extinct:<input type="checkbox" name="extinct" placeholder="enter animal species" />
                            </label>
                            <label>
                                Location:<input type="text" name="location" placeholder="enter animal location" />
                            </label>
                            <label>
                                Life Expectancy:<input type="text" name="lifeExpectancy" placeholder="enter animal life expectancy" />
                            </label>
                        </fieldset>
                        <input type="submit" value="Add an Animal" />
                    </form>
                </div>
            </main>
    </body>

</html>